.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 400px;
    height: 400px;
    border: 20px;
    border-image-source: url("/common/images/bg-tv.jpg");
    border-image-slice: 20px;
    border-image-width: 30px;
    border-image-outset: 10px;
    border-image-repeat: round;
}
.title {
    font-size: 80px;
    text-align: center;
    width: 400px;
    height: 400px;
}